.description {
  display: flex;
  flex-direction: column;
  max-width: 792px;
  word-wrap: break-word;
  background-color: #fff;
  border-radius: 16px;
  padding: 24px 24px;
  margin-bottom: 56px;
  opacity: 0;
  transform: translateY(100%);
  animation: slideInBottom 2.7s forwards;
}

@keyframes slideInBottom {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.title {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  margin-bottom: 8px;
}

.formattedText {
  font-size: 16px;
  line-height: 20px;
  margin-top: 16px;
}

.description > p {
  margin: 8px 0px;
}

.description > ul {
  margin-left: 16px;
}

.description > ul > li {
  padding: 4px 0px;
}

.description > h3, h4 {
  margin: 8px 0px;
}

.description > strong {
  margin-top: 8px;
}

@media screen and (max-width: 1070px) {
  .description {
    margin-bottom: 40px;
  }
}