.orderContainer {
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    border-radius: 16px;
    padding: 24px 24px;
    font-size: 16px;
    line-height: 20px;
    font-weight: 700;
}

.order {
    width: 140px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 4px;
}

.repeatOrder {
    font-size: 14px;
    cursor: pointer;
    color: var(--main-color);
    transition: all 0.3s ease-out;
}

.repeatOrder:hover {
    color: #fff;
    background-color: var(--main-color);
    border-radius: 8px;
    padding: 8px 8px;
}

.orderIdGoods {
    display: flex;
    flex-direction: row;
    gap: 16px;
}

.orderId {
    font-size: 20px;
    line-height: 24px;
}

.goods {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 8px;
    align-items: center;
}

.product {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 4px;
    position: relative;
}

.orderSumDateInfo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.orderSumDateInfoStatic {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 8px;
}

.orderSumDateInfoDynamic {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
}

.sum::after {
    content:" \20BD";
}

.productCart {
    position: absolute;
    top: -50%;
    left: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 16px;
    align-items: center;
    background-color: #fff;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.15);
    width: max-content;
    padding: 24px 24px;
    z-index: 1;
    border-radius: 16px;
}

.productCartTitle {
    font-size: 16px;
    line-height: 20px;
    font-weight: 400;
    max-width: 240px;
}

.productCartTitle:hover {
    color: var(--main-color)
}

@media screen and (max-width: 830px) {
    .orderContainer {
        flex-direction: column;
        
    } 

    .orderIdGoods {
        flex-direction: column;
    }

    .orderSumDateInfo {
        margin-top: 16px;
    }

    .orderSumDateInfoStatic {
        align-items: flex-start;
    }
  }