@import url(https://fonts.googleapis.com/css?family=Nunito:200,300,regular,500,600,700,800,900,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

@font-face {
  font-family: 'Circe Rounded';
  src: url(../../public/assets/fonts/CirceRounded/CirceRounded-AltBold.woff);
  font-weight: 700;
}

@font-face {
  font-family: 'Circe Rounded';
  src: url(../../public/assets/fonts/CirceRounded/CirceRounded-Regular3.woff);
  font-weight: 800;
}

:root {
  --main-color: #0073e6;
  --brand-light1-color: #99c7f5;
  --brand-light2-color: #e6f1fc;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p,
a {
  color: #172029;
  text-decoration: none;
}

html {
  height: 100%;
  scroll-behavior: smooth;
}

body {
  background-color: #f2f6fa;
}

.main {
  padding: 0px 32px;
}

.goods-container {
  margin: 0 auto;
  max-width: 1346px;
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}

.btn {
  font-family: "Nunito", sans-serif;
  margin: 8px 0px;
  border-radius: 12px;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  box-shadow: none;
  background-color: var(--main-color);
  width: 100%;
  padding: 16px 0px;
  text-transform: none;
}

.btn:hover {
  background-color: #338FEB;
  box-shadow: none;
}

.btn:disabled {
  background-color: var(--brand-light1-color);
  color: white;
}

.item-quantity-btn {
  background-color: var(--brand-light2-color);
  padding: 16px 0px;
  min-width: 52px;
}

.qty-btn-left {
  border-radius: 12px 0px 0px 12px;
}

.qty-btn-right {
  border-radius: 0px 12px 12px 0px;
}

.item-quantity-btn:hover {
  background-color: #CFE4FA;
}

.item-quantity-btn:disabled {
  opacity: 0.5;
}

.btn:active {
  background-color: #265BB2;
}

.paginationStyles {
  margin-top: 40px;
  margin-bottom: 40px;
}

.paginationStyles .MuiButtonBase-root {
  background-color: var(--brand-light2-color);
  font-family: "Nunito", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 700;
  border-radius: 12px;
}

.paginationStyles .MuiPaginationItem-root {
  color: var(--main-color);
  width: 52px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginationStyles .Mui-selected {
  color: #fff;
  background-color: var(--main-color);
}

.paginationStyles .Mui-selected:hover {
  background-color: var(--main-color);
}

.MuiCardContent-root:last-child {
  padding-bottom: 16px;
}

.product-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
  margin-top: 24px;
}

.orders-container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 24px;
}

.MuiAlert-message {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
}

.MuiAlert-icon {
  margin-top: 3px;
}

@media screen and (max-width: 586px) {
  .paginationStyles .MuiButtonBase-root {
    font-size: 12px;
    line-height: 16px;
    font-weight: 700;
    border-radius: 4px;
  }
  
  .paginationStyles .MuiPaginationItem-root {
    min-width: 28px;
    width: 8vw;
    height: 32px;
    transition: width 0.3s ease-in-out;
  }
}

@media screen and (max-width: 912px) {
  .main {
      padding: 0px 22px;
  } 
}


@media only screen and (min-width: 280px) and (max-width: 420px) {
  .item-quantity-btn {
    min-width: 78px;
  }
}