:root {
  --main-color: #0073E6; 
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

p, a {
  color: #172029;
}

body {
  background-color: #F2F6FA;
}

.goods-container {
  margin: 0 auto;
  max-width: 1346px;
  margin-top: 24px;
  margin-bottom: 24px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 24px;
}